.c-chat {
	height: 100%;
	width: 100%;
    position: relative;
}

.c-chat__message-box {
	height: 60px;
	width: 100%;
	border-radius: 2px;
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.15);;
	background-color: white;
	padding-left: 25px;
}

.c-chat__emoji {
	position: absolute;
	top: 19px;
	right: 25px;
}

.c-chat__message-box-wrapper {
	position: absolute;
    bottom: 20px;
    left: 6%;
    width: calc(88%);
}

.c-chat__date-text {
	font-size: 12px;
	margin: 20px 0px;
}

.c-chat__messages {
	height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
    padding-bottom: 100px;
}

@media only screen and (max-width: 768px) {
	.c-chat__message-box-wrapper {
		bottom: 40px;
		left: 0%;
		width: 100%;
	}
}
