
.l-edit-profile__container {
		display: flex;
		width: 284px;
}

.l-edit-profile__name {
	display: flex;
	width: 284px;
}

.l-edit__container {
	width: 500px;
	height: 100vh;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
}
