.c-menu {
	background: #F8F8F8;
	text-align: center;

	width: 400px;
	overflow: auto;
}

.c-menu__wrapper {
	height: calc(100% - 10px);
}

.c-menu__title {
	font-weight: 700;
	font-size: 20px;
}

.c-menu__title-container {
	width: 350px;
	margin: 10px auto 15px auto;
	display: flex;
	justify-content: space-between;
}

.c-sort__title {
	display: inline-block;
	margin-right: 14px;
}

.c-menu__map {
	position: relative;
	bottom: -24px;
	height: 400px;
	width: 100%;
}

.c-menu__tag-n-map {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 260px);
}

@media only screen and (max-width: 768px) {
	.c-menu {
		width: 100%;
	}
	
	.c-menu__map {
		position: relative;
		margin-top: 25px;
		width: 100%;
	}
	
}

@media only screen and (max-height: 745px) {
	.c-menu__map {
		position: relative;
		margin-top: 25px;
	}
	
}

@media only screen and (max-width: 370px) {
	.c-menu__title-container {
		width: 300px;
	}
	
}
