.c-user-card {
	border-radius: 8px;
	width: 260px;
	height: 316px;
	background: #666;
	position: relative;
	cursor: pointer;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.11);
	@extend %transition;
}

.c-user-card--hidden {
	display: none;
}

.c-user-card:hover {
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    transform:  translate(0px,-5px)  rotate(0deg) scaleX(1.01) scaleY(1.01) ;
	@extend %transition;
}

.c-user-card__image {
	object-fit: cover;
	height: 100%;
	border-radius: 8px;
	background: #DDD;
}

.c-user-card__text {
    position: absolute;
	text-align: left;
	bottom: 20px;
	left: 20px;
	
	color: #FFFFFF;
}

.c-user-card__title {
	font-weight: 900;
	color: #FFF;
	font-size: 18px;
	letter-spacing: 1.5px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

.c-user-card__date {
	font-weight: 300;
	font-size: 14px;
	color: #FFF;
	letter-spacing: -0.23px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

.c-user-card__gradient {
    position: absolute;
	bottom: 0px;
	
	height: 70px;
	width: 100%;
	border-radius: 8px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
}

@media only screen and (max-width: 1080px) {
	.c-user-card {
		width: 350px;
		height: 425px;
	}
}

@media only screen and (max-width: 880px) {
	.c-user-card {
		height: 316px;
	}
}

@media only screen and (max-width: 768px) {
	.c-user-card {
		height: 425px;
	}
}

@media only screen and (max-width: 361px) {
	.c-user-card {
		height: 350px;
	}
}

.element-animation{
  animation: fancyAnimationFrames ease 0.75s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
}

.element-animation-out{
  animation: fancyAnimationFramesOut ease 0.75s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
}

@keyframes fancyAnimationFrames{
  0% {
	display: flex;
    opacity:0.5;
    transform:  translate(0px,-10px)  rotate(0deg) scaleX(1.01) scaleY(1.01) ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@keyframes fancyAnimationFramesOut{
  0% {
    opacity:1;
    transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:0;
    transform:  translate(0px,-10px)  rotate(0deg) scaleX(1.01) scaleY(1.01) ;
  }
}
