.o-background-image {
	background: url(/images/landing-bg.jpg) no-repeat center top fixed, rgba(192,192,192,1); 
	background-size: cover;
	background-blend-mode: multiply;
	position: fixed; 
	top: 0%; 
	left: 0%; 
	width: 100%; 
	height: 100%;
	z-index: -99;
}

.o-background-image-overlay {
	background: linear-gradient(45deg, rgba(255, 0, 192, 0.75), rgba(255, 0, 0, 0.75));
	mix-blend-mode: screen;
	position: fixed;
	background-size: cover; 
	top: 0%;
	left: 0%;
	width: 100%; 
	height: 100%;
	z-index: -98;
}
