.o-title {
	font-family: Avenir Black Oblique;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 0.59px;	
	text-shadow: 0 1px 2px rgba(0,0,0,0.09);
}

.o-subtitle {
	opacity: 0.85;
	font-family: Avenir;
	font-weight: 900;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.67px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.09);	
}

.o-title-number {
	font-family: Avenir;
	font-weight: 300;
	font-size: 20px;
	color: #333333;
}

.o-little-title {
	font-family: Avenir;
	font-weight: 700;
	font-size: 9px;
	color: #B7B7B7;
}

.o-little-title--light {
	font-weight: 500;
}

.o-title-menu {
	font-family: Avenir Book;
	font-size: 14px;
	color: #333;
}
