.ant-slider-track {
	background-image: linear-gradient(-225deg, #FF0095 0%, #FF4400 100%);
}

.ant-slider-handle {
	border: #ff005c !important;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
}

.ant-slider-handle:hover {
	margin-top: -7px;
    width: 18px;
    height: 18px;
	
	cursor: -webkit-grab;
}

.ant-slider-rail {
	background-color: #D8D8D8;
}

.ant-slider {
	margin-top: 8px;
	margin-bottom: 6px;
}

.ant-select-selection--single {
    border-radius: 50px;
    border: none;
    font-weight: 600;
    padding-left: 12px;
}
