.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}

%transition {
	transition: 0.2s;
	transition-timing-function: ease;
}
