.c-nav {
	background-image: linear-gradient(-225deg, #333333 0%, #222222 100%);
	text-align: center;

	width: 100px;
}

.c-menu {
	background: #F8F8F8;
	text-align: center;

	width: 400px;
}

.c-main {
	background: #FFFFFF;
	text-align: center;
}
