.l-onb-bg {
	background: linear-gradient(45deg, rgba(255, 0, 192, 0.75), rgba(255, 0, 0, 1));
	height: 100vh;
	display: flex;
	justify-content: center;
}

.l-onb-container {
	width: 600px; 
	background-color: #F8F8F8; 
	display: flex;
	align-items: center;
	padding-top: $l-size;
	flex-direction: column;
}

.l-onb__location {
	margin-top: 25px;
}
