.l-flex-container {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
}

.l-nav {
	display: inline-block;
}

.l-header {
	visibility: hidden;
}

.l-menu {
	margin-left: 100px;
	display: inline-block;
	height: 100%;
	padding-top: 10px;
	position: fixed;
	z-index: 99;
}

.l-main {
	display: inline-block;
	flex-grow: 1;
	margin-left: 500px;
}

.l-main__search {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.l-flex-container {
		height: 100%;
		width: 100%;
		position: absolute;
	}

	.l-nav {
		display: block;
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 40px;
	}

	.l-header {
		visibility: visible;
		top: 0px;
		display: block;
		position: absolute;
		width: 100%;
		height: 46px;
	}

	.l-menu {
		transform: translateX(100%);
		transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
		margin-left: 0px;
		position: fixed;
		top: 46px;
		right: 0px;
		z-index: 98;
		display: block;
	}

	.l-menu--slide-left {
		transform: translateX(-100%);
	}

	.l-menu__show {
		transform: translateX(0%);
	}


	.l-main {
		margin-left: 0px;
	}
}
