.l-flex-container {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
}

.l-nav {
	display: inline-block;
}

.l-menu {
	margin-left: 100px;
	display: inline-block;
	height: 100%;
	padding-top: 10px;
	position: fixed;
	z-index: 99;
}

.l-menu__search {
	
}

.l-main {
	display: inline-block;
	flex-grow: 1;
	margin-left: 500px;
}

.l-main__search {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.l-flex-container {
		height: 100%;
		width: 100%;
		position: absolute;
	}

	.l-nav {
		display: block;
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 40px;
	}

	.l-menu {
		margin-left: 0px;
		visibility: hidden;
		display: block;
	}

	.l-main {
		margin-left: 0px;
	}
}
